.home {
    height: 700px;
    position: relative;
    display: flex;
    align-items: center
}

.bgImage {
    position: absolute;
    /* top: -1px; */
    height: 100%;
    width: auto;
    right: 0;
    z-index: -1;
}

.container {
    margin: 0px 40px;
    padding: 0px 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.homeContent {
    /* margin-right: -55px; */
}

.homeContent h2 {
    font-size: 50px;
    text-align: left;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 0px;
    letter-spacing: -1.01px;
    font-family: var(--fontFamily);
    color: var(--cetaceanBlue);
    margin-bottom: 0;
    animation-duration: 500ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: fadeInUp;
}

.homeContent h2 span {
    color: var(--pacificBlue);
    font-weight: 900;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    letter-spacing: -1.01px;
    font-family: var(--fontFamily);
}

.homeContent h4 span {
    background: rgba(13, 179, 199, .12);
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 6px;
    color: var(--pacificBlue);
}

.hiremeBtn {
    background: var(--pacificBlue);
    border-color: var(--pacificBlue);
    margin-top: 10px;
    color: var(--white);
    padding: 5px;
    width: 150px;
    height: 50px;
    float: left;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--fontFamily);
    border-width: 0ch;
}

.col_lg_6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.frelencer_img {
    position: relative;
    top: 10px;
}

.freelancerImageStyle {
    opacity: 1;
    z-index: 1;
    position: relative;
    top: 260px;
    opacity: 1;
    left: 60px;
}

.tableImageStyle {
    opacity: 1;
    z-index: -1;
    position: relative;
    top: 190px;
    left: -100px;
}

.teaPaperStyle {
    position: relative;
    z-index: -1;
    opacity: 1;
    top: -15px;
    left: 270px;
}

.homeShadowStyle {
    position: relative;
    top: -210px;
}

.bubbleOrange {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fca249;
    z-index: -1;
    top: 100px;
    left: 155px;
    animation: spin1 2s infinite alternate;
    transform: translateY(-50%);
}

.bubblePink {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ff9398;
    top: 313px;
    left: 300px;
    animation: spin1 2s infinite alternate;
    transform: translateY(-50%);
}


@keyframes spin1 {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.bubbleGreen {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #00c99c;
    z-index: -1;
    top: 30%;
    left: 50px;
    animation: spin2 2s infinite alternate;
}

.bubbleYellow {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #f1d53b;
    z-index: -1;
    top: 70%;
    left: 40px;
    animation: spin2 2s infinite alternate;
}

@keyframes spin2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}

.bubblePurple {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #d27dfa;
    z-index: -1;
    top: 85px;
    left: 215px;
    animation: spin1 2s infinite alternate;
}

.bubbleBlue {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #7d95fa;
    z-index: -1;
    top: 85%;
    left: 215px;
    animation: spin1 2s infinite alternate;
}


@media (max-width: 1024px) {
    .bgImage {
        display: none;
    }

    .frelencer_img {
        display: none;
    }
}

@media (max-width: 425px) {
    .homeContent h2 {
        font-size: 38px;
        line-height: 50px;
    }

    .row {
        flex-direction: column;
        position: relative;
        top: 0px;
    }

    .container {
        margin: 0px 10px;
        padding: 0px 10px;
    }

    .col_lg_6 {
        max-width: 100%;
    }
}