.skills {
    padding: 120px 0;
    background: var(--white);
}

.section_title_two {
    margin-bottom: 70px;
}

.section_title_two h5 {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--pacificBlue);
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.section_title_two h2 {
    font-size: 38px;
    font-weight: 700;
    color: var(--cetaceanBlue);
    text-transform: capitalize;
    letter-spacing: -2px;
    text-align: center;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20%;
}

.eachSkill {
    width: 120px;
    height: 120px;
    z-index: 1;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 5%), 0 0 3px 0 rgb(0 0 0 / 10%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.eachSkill:hover {
    transform: scale(1.2);
}

.eachSkill img {
    width: 70px;
    height: 70px;
}

.eachSkill:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

@media only screen and (max-width: 425px) {
    .skillsList {
        margin: 10px 3%;
    }
}